homelab_hosts:
  - name: docker
    description: "The local docker host"
    ip: 192.168.3.88
    port: 90
    baseurl: http://192.168.3.88
    nginx: true
    pihole: true
    packages:
      - docker.io
      - docker-compose
  - name: hass
    description: "Home Assistant"
    ip: 192.168.3.2
    port: 8123
    baseurl: http://192.168.3.2:8123
    nginx: true
    pihole: true
  - name: neither
    description: "An ignorable entry"
    ip: 192.168.2.22
    port: 9000
    baseurl: http://192.168.2.22:9000
